aside{
	width: 25%; 
	float: left; 
	margin-top: 20px;
}
footer{
	float: left; 
	width: 100%; 
	margin-top: 40px;
	background-color: #706F71;
	height: 50px;
}
h3{
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}
header{
	background-color: #ADABAF; 
	height: 100px;
}
nav{
	float: left;
	width: 100%;
	height: 30px;
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: #706F71;
}
nav ul{
	margin-left: 10px;
}
nav ul li{
	float: left;
}
nav ul li a{
	text-decoration: none;
	padding: 10px;
	font-size: 22px;
	color: #fff;
}
nav ul li a:hover{
	color: #B1B0B2;
}
.content-right{
	width: 75%; 
	float: left; 
	margin-top: 20px;
}
.img-quienes{
	width: 35%;
	float: left;
	margin-right: 5px;
	margin-bottom: 7px;
	padding-top: 10px;
}

.list-aside{
	width: 75%;
	margin-left: 20px;
	padding: 10px;
	background-color: #C9C8CA;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.list-aside ul li{
	margin: 5px;
}
.list-aside ul li a{
	color: #706F71;
	text-decoration: none;
}
.text-inicio{
	text-align: justify;
	margin-top: 20px;
	margin-right: 20px;
}
.text-footer{
	margin: 20px;
	color: #FADC04;
}
.text-quienes{
	text-align: justify;
	margin-top: 20px;
	margin-right: 20px;
}
.video-quienes{
	margin-top: 50px;
	text-align: center;
}
